.Step {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.Step:last-child {
  margin-bottom: 0;
}

.StepText {
  margin: 0;
  font-size: calc(14px + 1.2vw);
}

.StepIndex {
  font-size: calc(16px + 4vw);
  font-weight: bold;
  margin: 0;
  margin-right: 4vw;
  transform: translateY(calc((1.8vw) * -1));
}