.Header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  padding: 0 1vw;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.HeaderHidden {
  transform: translateY(-80px);
}

.SearchButton {
  background: url(./search.svg) no-repeat;
  background-size: calc(24px + 1.2vw) calc(24px + 1.2vw);
  background-position: center;
  border: none;
  width: calc(24px + 1.2vw);
  height: calc(24px + 1.2vw);
  padding: 10px 20px ;
  cursor: pointer;
} 

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.Logo:visited {
  text-decoration: none;
  color: black;
}

.LogoImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: #292F35;
  border-radius: 20px;
  margin-right: 1vw;
}

.LogoImage {
  margin: auto;
  max-height: 85%;
  max-width: 85%;
}

.LogoText {
  font-size: calc(16px + 2vw);
  text-decoration: none;
  color: black;
}

.LogoText:visited {
  text-decoration: underline;
  color: black;
}